<!--
  44index.html
  Email Retriever?
  Created by Tochi Bedford & Abdulmalik Bawa on 05/01/2020
  Copyright © 2020 44DB. All rights reserved.
-->
<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  <title>Mail Org by 44db</title>
</head>


<body style="background-color:black; ">
  

  <div class="app" >
    <nav class="navBar" >
      <div class="logo" >
        <img src={{ url_for('static', filename='mo.png') }} alt="44logo" class="logoPic">
      </div>
      <div class="titleBig">
      </div>
      <div class="mainMenu" >
        <li class="menuList">
          <ul class="mItem" id="send" onclick="dropShow()">SEND</ul>
          <div class="dropShow"><input type="email" id="em" placeholder="e-mail address "></div>
          <ul class="mItem" id="save">SAVE</ul>
        </li>
      </div>
    </nav>
    <div >
    
        <img src={{ url_for('static', filename='white.png') }} class="centered"/>
        <div class="ABfade-in">
            <div class="img-wrapper centered2">
                <img src={{ url_for('static', filename='2.png') }} class="imgIn"/>
            </div>
            <div class="button">
                <div class="leftB"></div>
                <div class="centerB">
                    <a class="font2" href="#" style= "text-align: center;">Click to proceed</a>
                </div>
                <div class="rightB" ></div>
            </div>
        </div>
      </div>

    <!-- <div class="appi" >
      <div class="left">

      </div>

      <div class="right" ></div>
    </div> -->
    <div class="footer">
        <div class="left"></div>
        <footer><p class="font"> MAIL ORG BY 44DB ❤ </p></footer>
        <div class="right" ></div>
    </div>
  </div>
  <script src={{ url_for('static', filename='index.js') }}></script>

</body>
</html>
